<div class="cards-container">
      <div class="card-trip">
        <div>
          <%= image_tag "accommodation4.jpg", height: 300, width: 400, crop: :fill %>
        </div>
        <div class="card-trip-infos">
          <div>
            <h2>Name | Job</h2>
            <p>address</p>
          </div>
          <div class="job">
            <p>?</p>
          </div>
          <img src="https://media.licdn.com/dms/image/C4D03AQFf-cbAMq29oQ/profile-displayphoto-shrink_800_800/0/1635967433795?e=1691625600&v=beta&t=GvmBreGOd03r5uTbK2hon1SPsA9pk5TM-lX4Uaf4XBQ" class="card-trip-user avatar-bordered">
        </div>
      </div>
</div>
