// Specific CSS for your home-page
// header, banner et barre de recherche, cart, footer
body {
  background-color: #f8f8f8;
}


// article
.flex-article {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 7%;
  /* padding-top: 3%; */
  /* background-color: white; */
  margin-top: 1%;
}

.article-img{
  border-radius: 0.6rem;
}

.article-text{
  padding: 3%;
}

.flex-article-photo-title{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flex-article{
  p{
    padding-right: 17%;
    margin-left: 13%;
    margin-top: 3%;
    font-weight: lighter;
  }
}

.avatar-hp{
 border-radius: 50%;
 margin-right: 15px;
}

.btn-article a{
  text-decoration: none;
  color: white;
  background-color: #F2C14E;
  padding: 8px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 0.6rem;
}

.btn-article a:hover{
opacity: 0.8;
}

.btn-article {
margin-left: 40px;
margin-top: 30px;
}

.btn-article.about {
  margin-left: 0px;
  margin-top: 0px;
  }

// rea element

.flex-rea-block {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 7%;
  margin-right: 6%;
  margin-top: 3%;
  padding: 6%;
  border-radius: 0.6rem;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  p{
    color: #696969;
  }
  h4{
    margin-bottom: 4%;
  }
}

.rea-element{
  display: flex;
  flex-direction: row;
}
.flex-rea-block i{
  padding: 15px;
  background-color: #f8f8f8;
  border-radius: 60%;
  box-shadow: 0 1px 2px rgba(121, 121, 121, 0.2);
  margin-top: 5%;
  font-size:x-large;
  transition: 0.4s;
  cursor: pointer;
  margin-bottom: 12%;
}

.fa-leaf{
  margin-bottom: 10% !important ;
}

.banner-lp h3{
  margin-top: 20%;
  margin-right: 30% ;
  padding: 0px;
}

.flex-rea-block i:hover{
  font-size:xx-large;
}

.flex-rea-block{
  h6{
    font-size: larger;
    font-weight: bolder;
  }
  p{
    font-weight: lighter;
  }
}
