<%= render 'components/navbar' %>
<div class="super-accommodation-form">
  <div class="image-container-login">
    <%= image_tag "edit-form.png", class: "logo-img" %>
  </div>
  <div class="accommodation-form">
    <div class="accommodation-text">
      <h2>Modifier les informations du logement</h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
<%= render 'components/footer' %>
