.navbar-sucasa {
  justify-content: space-between;
  background: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
}


.navbar-sucasa .navbar-collapse {
  flex-grow: 0;
}

.navbar-sucasa .navbar-brand img {
  width: 120px;
  margin-left: 2%;
}

.logo-img {
  width: 500px;
  height: auto;
}

.dropdown-menu {
  border-radius: 0.6rem;
  border-color: white;
  box-shadow: 0 0 7px 0.1px #bcbcbc;
}

.dropdown-menu a{
  padding: 15px;
}

.dropdown-item{
  background-color: 0.8 var(--bs-body-bg)
}

.dropdown-item:hover{
  background-color: rgb(224, 224, 224)
}

.separator-nav{
  border-top: 1px solid #e3e3e3;
}

.nav-link{
color: rgb(110, 110, 110);
margin-right: 10px;
}

.nav-link:hover {
color: #262626;
margin-right: 10px;
}

.avatar {
  cursor: pointer;
}
