// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show";

body {
  margin-top: 4%;
  margin-bottom: 10%;
  background-color: #E7E7E7;
}

.main-container, .container {
  margin-left: 60px;
  margin-right: 60px;
}
